<!doctype html>

<html>
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,maximum-scale=1.0">

	<title>Inventoria</title>
  </head>

  <body>
	<a href="/">Sök</a> | <a href="/upload">Lägg in föremål</a>

	<hr>

	<h1>E-post med nyckel skickat!</h1>

	<p>
	  Ett mail har skickats till din e-postadress. Klicka på länken i mailet
	  för att godkänna att dina föremål skall läggas upp.
	</p>
	
	<p>
	  <a href="(:approve_uri:)">(:approve_uri:)</a>
	</p>
	
  </body>
</html>
