<!doctype html>

<html>
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,maximum-scale=1.0">

	<link href="/static/style.css" rel="stylesheet" type="text/css">

	<title>inventoria - Distribute, trade, share &amp; care</title>
  </head>

  <body>
	<header class="clear">
	  <a href="/upload"><img src="/static/img/linedpaperplus32.png"></a>
	  <a href="/recycle"><img src="/static/img/recycle32.png"></a>
	</header>

	<div style="text-align: center">
	  <h1 style="margin-bottom: 0.1em">inventoria</h1>
	  <small><em>Distribute, trade, share &amp; care.</em></small>

	  <form action="/" method="get">
		<input class="search" type="input" name="q" value="">
	  </form>
	</div>

	<footer class="index">
	  <fieldset class="card item new">
		<form action="/upload" enctype="multipart/form-data" method="post">
	 	  <input type="file" name="uploaded_image">
		  <textarea class="info" name="info"></textarea>
		  <input class="email" type="input" name="email">
		  <button type="submit" name="act" value="save"><img src="/static/img/linedpaperplus32.png" alt=""></button>
		</form>		
	  </fieldset>	  
	</footer>
  </body>
</html>
