<!doctype html>

<html>
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,maximum-scale=1.0">

	<title>Inventoria</title>
  </head>

  <body>
	<a href="/">Sök</a> |
	<a href="/upload">Lägg in föremål</a> |
	<a href="/bulk_approve">Godkänn</a> |
	<a href="/static/info.html">Info</a>

	<hr>

	<div style="text-align: center">
	  <h1>Inventoria</h1>

	  <form action="/" method="get">
		<p>
		  <input type="input" name="q" value="(:query:)"><br>
		  <input type="submit" value="Sök">
		</p>
	  </form>
	</div>
  </body>
</html>
