<!doctype html>

<html>
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,maximum-scale=1.0">

	<link href="/static/style.css" rel="stylesheet" type="text/css">

	<script type="text/javascript">
	  /* <![CDATA[ */
    (function() {
        var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
        s.type = 'text/javascript';
        s.async = true;
        s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';
        t.parentNode.insertBefore(s, t);
    })();
/* ]]> */
	</script>
	
	<title>(:title:)</title>
  </head>

  <body>

	<header class="clear">
	  <form action="/" method="get">
		<input class="search" type="input" name="q" value="">
	  </form>
	  <a href="/upload"><img src="/static/img/linedpaperplus32.png"></a>
	  <a href="/recycle"><img src="/static/img/recycle32.png"></a>
	</header>

	<h1>(:title:)</h1>

	(:flattr_btn:)
	
	<div class="card-wrap">
	  <div class="card item">
		<img style="width: 100%" src="/static/uploads/(:image_id:).jpg" alt="">
		<p class="info">
		  (:info:)
		</p>
	  </div>
	  <div class="card controls">
		<a href="/clone?item_id=(:item_id:)"><img src="/static/img/cardgame32.png" alt="clone"></a>
		<a href="/recycle?item_id=(:item_id:)"><img src="/static/img/recycle32.png" alt="recycle"></a>
		<a href="/u/(:uid:)"><img src="/static/img/user32.png" alt="user"></a>
	  </div>
	</div>


	<fieldset class="card contact">
	  <form action="/email_owner" method="post">
		  <input type="hidden" name="uid" value="(:uid:)">
		  <input type="hidden" name="item_id" value="(:item_id:)">
		  <input type="hidden" name="subject" value="(:title:)">
		  <input id="email" type="text" name="email"><br>
		  <textarea id="message" name="message"></textarea><br>
		  <button type="submit"><img src="/static/img/mail32.png"></button>
	  </form>
	</fieldset>
	
  </body>
</html>
