<!doctype html>

<html>
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,maximum-scale=1.0">

	<link href="/static/style.css" rel="stylesheet" type="text/css">

	<title>Föremål sorterade för återvinning</title>
  </head>

  <body>
	<header class="clear">
	  <form action="/" method="get">
		<input class="search" type="input" name="q" value="">
	  </form>
	  <a href="/upload"><img src="/static/img/linedpaperplus32.png"></a>
	  <a href="/recycle"><img src="/static/img/recycle32.png"></a>
	</header>

	<h1>recycle ((:count:))</h1>
	
	(:items ~
	<div class="card item search">
	  <p class="info"><a href="/[:id:]"><img src="/static/uploads/_thb_[:image_id:].jpg"></a>[:info:]</p>
	</div>
	:)

	<footer class="upload">
	  <div class="email_approve">
		<img src="/static/img/email.png" alt="Email">
		<p>
		  <strong>Verifiera återvinning  med epost.</strong>
		</p>
		<p>
		  Ange din epostadress för att ta bort föremålen.
		</p>
		<form action="/recycle" method="post">
		  <input class="email" type="text" name="email">
		  <p>
			<button type="submit" name="act" value="recycle">Återvinn (:count:) föremål</button> |
			<button type="submit" name="act" value="regret">Ångra</button>
		  </p>
		</form>
	  </div>
	</footer>
  </body>
</html>
