<!doctype html>

<html>
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,maximum-scale=1.0">

	<title>Föremål sorterade för återvinning</title>
  </head>

  <body>
	<a href="/">Sök</a> |
	<a href="/upload">Lägg in föremål</a> |
	<a href="/bulk_approve">Godkänn</a> |
	<a href="/static/info.html">Info</a>

	<hr>

	<h1>Du har (:count:) föremål lagda för återvinning.</h1>

	<ol>(:items ~
	  <li><p><a href="/[:id:]"><img src="/static/uploads/_thb_[:image_id:].jpg">[:info:]</a></p></li>:)
	</ol>

	<p>
	  Lägg till fler genom att gå in på fler föremål och klicka på "Återvinn".
	</p>

	<fieldset>
	  <p>
		<form action="/recycle" method="post">
 		  <label for="email">Ange din e-postadress:</label>
		  <input id="email" type="text" name="email"><br>
		  <p>
			<button type="submit" name="act" value="recycle">Återvinn (:count:) föremål</button>
			<button type="submit" name="act" value="regret">Ångra</button>
		  </p>
		</form>
	  </p>
	</fieldset>

  </body>
</html>
