<!doctype html>

<html>
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,maximum-scale=1.0">

	<link href="/static/style.css" rel="stylesheet" type="text/css">

	<title>Föremål sorterade för återvinning</title>
  </head>

  <body>
	<header class="clear">
	  <form action="/" method="get">
		<input class="search" type="input" name="q" value="">
	  </form>
	  <a href="/upload"><img src="/static/img/linedpaperplus32.png"></a>
	  <a href="/recycle"><img src="/static/img/recycle32.png"></a>
	</header>

	(:items ~
	<div class="card item">
	  <a href="/[:id:]"><img style="width: 100%" src="/static/uploads/[:image_id:].jpg" alt=""></a>
	  <p class="info">
		[:info:]
	  </p>
	</div>
	:)

	<fieldset>
	  <p>
		<form action="/recycle" method="post">
 		  <label for="email">Ange din e-postadress:</label>
		  <input id="email" type="text" name="email"><br>
		  <p>
			<button type="submit" name="act" value="recycle">Återvinn (:count:) föremål</button>
			<button type="submit" name="act" value="regret">Ångra</button>
		  </p>
		</form>
	  </p>
	</fieldset>

  </body>
</html>
