<!doctype html>

<html>
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,maximum-scale=1.0">

	<title>Inventoria</title>
  </head>

  <body>
	<a href="/">Sök</a> | <a href="/upload">Lägg in föremål</a> | <a href="/static/info.html">Info</a>

	<hr>

	<div style="text-align: center">
	  <h1>Inventoria</h1>

	  <form action="/" method="get">
		<p>
		  <input type="input" name="q" value="(:query:)" size="45"><br>
		  <input type="submit" value="Sök">
		</p>
	  </form>
	</div>
	
	<hr>

	<p>Din sökning gav (:count:) föremål.</p>
	
	<ol>(:items ~
	  <li><p><a href="/[:item_id:]"><img src="/static/uploads/_thb_[:image_id:].jpg">[:item_info:]</a></p></li>:)
	</ol>

  </body>
</html>
