<!doctype html>

<html>
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,maximum-scale=1.0">

	<link href="/static/style.css" rel="stylesheet" type="text/css">
		
	<title>inventoria: (:query:)</title>
  </head>

  <body>
	<header class="clear">
	  <form action="/" method="get">
		<input class="search" type="input" name="q" value="(:query:)">
	  </form>
	  <a href="/upload"><img src="/static/img/linedpaperplus32.png"></a>
	  <a href="/recycle"><img src="/static/img/recycle32.png"></a>
	</header>

	<h1>(:query:) ((:count:))</h1>

	(:items ~
	<div class="card item search">
	  <p class="info"><a href="/[:id:]"><img src="/static/uploads/_thb_[:image_id:].jpg"></a>[:info:]</p>
	</div>
	:)

  </body>
</html>
