<!doctype html>

<html>
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,maximum-scale=1.0">

	<title>Tack!</title>
  </head>

  <body>
	<a href="/">Sök</a> |
	<a href="/upload">Lägg in föremål</a> |
	<a href="/bulk_approve">Godkänn</a> |
	<a href="/static/info.html">Info</a>

	<hr>

	<h1>Du har lagt upp (:count:) föremål.</h1>

	<p>
	  Ditt publika nummer: <strong>(:uid:)</strong><br>
	  Använd den om du vill hålla din e-postadress hemlig i sökningarna.
	</p>
	<p>
	  Du kan se alla dina föremål genom att gå in på <a href="/u/(:uid:)">/u/(:uid:)</a>.
	</p>
	
	<ol>(:items ~
	  <li><p><a href="/[:item_id:]"><img src="/static/uploads/_thb_[:image_id:].jpg">[:item_info:]</a></p></li>:)
	</ol>
  </body>
</html>
