<!doctype html>

<html>
  <head>
	<title>Upload new item</title>
  </head>

  <body>
	<a href="/">Search</a> | <a href="/upload">Upload Item</a>

	<hr>

	<h1>Upload new item</h1>

	<form action="/upload" enctype="multipart/form-data" method="post">
	  <p>
		<input type="file" name="image"><br>
		<textarea name="info" cols="70" rows="10"></textarea><br>
		<input type="submit" value="Upload">
	  </p>
	</form>

	<hr>

	<ol>(:items ~
	  <li><p><a href="/[:key:]"><img src="/assets/uploads/_thb_[:key:].jpg">[:info:]</a></p></li>:)
	</ol>
  </body>
</html>
